@model LogListViewModel
@using cloudscribe.Web.Pagination
@using cloudscribe.DateTimeUtils
@using cloudscribe.Logging.Web
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<LogManager> sr
@inject ITimeZoneHelper tzHelper
@addTagHelper "*, cloudscribe.Web.Pagination"
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@functions
{
    public string GetClassFromLogLevel(string logLevel)
    {
        switch (logLevel)
        {
            case "Error":
            case "Critical":
                return "text-danger";

            case "Warning":
                return "text-warning";

            case "Information":
            default:
                return "text-info";
        }
    }

    public string GetButtonClass(string logLevel, string buttonLogLevel)
    {
        switch (logLevel)
        {
            case "Critical":
            case "Error":
                if (buttonLogLevel == logLevel)
                {
                    return "btn btn-danger";
                }
                return "btn btn-info";

            case "Warning":
                if (buttonLogLevel == logLevel)
                {
                    return "btn btn-warning";
                }
                return "btn btn-info";

            case "Information":
            case "":
            default:
                if (buttonLogLevel == logLevel)
                {
                    return "btn btn-primary";
                }
                return "btn btn-info";
        }
    }
}
<h1>@ViewData["Heading"]</h1>
<div class="row align-items-left gx-1 mb-2">
    <div class="col-2 w-auto">
        <a class="@GetButtonClass(Model.LogLevel, "Critical")" role="button" asp-controller="SystemLog" asp-action="Index" asp-route-logLevel="Critical">@sr["Critical"]</a>
    </div>
    <div class="col-2 w-auto">
        <a class="@GetButtonClass(Model.LogLevel, "Error")" role="button" asp-controller="SystemLog" asp-action="Index" asp-route-logLevel="Error">@sr["Error"]</a>
    </div>
    <div class="col-2 w-auto">
        <a class="@GetButtonClass(Model.LogLevel, "Warning")" role="button" asp-controller="SystemLog" asp-action="Index" asp-route-logLevel="Warning">@sr["Warning"]</a>
    </div>
    <div class="col-2 w-auto">
        <a class="@GetButtonClass(Model.LogLevel, "Information")" role="button" asp-controller="SystemLog" asp-action="Index" asp-route-logLevel="Information">@sr["Information"]</a>
    </div>
    <div class="col-2 w-auto">
        <a class="@GetButtonClass(Model.LogLevel, "Debug")" role="button" asp-controller="SystemLog" asp-action="Index" asp-route-logLevel="Debug">@sr["Debug"]</a>
    </div>
    <div class="col-2 w-auto">
        <a class="@GetButtonClass(Model.LogLevel, "Trace")" role="button" asp-controller="SystemLog" asp-action="Index" asp-route-logLevel="Trace">@sr["Trace"]</a>
    </div>
    <div class="col-2 w-auto">
        <a class="@GetButtonClass(Model.LogLevel, "")" role="button" asp-controller="SystemLog" asp-action="Index">@sr["All"]</a>
    </div>
</div>
<ul class="list-unstyled">
    @foreach (var item in Model.LogPage.Data)
    {
        <li class="mb-1 logitem border-bottom">

            @*<form role="form" class="form-inline float-left" asp-controller="SystemLog" asp-action="LogItemDelete">
                    <input type="hidden" id="id" name="id" value="@item.Id" />
                    <input type="submit" value='@sr["Delete"]' class="btn btn-sm btn-danger p-1 mr-2" />
                </form>*@

            <p class="@GetClassFromLogLevel(item.LogLevel) mt-1 pt-1">
                @tzHelper.ConvertToLocalTime(item.LogDateUtc, Model.TimeZoneId).ToString()
                <strong>@item.LogLevel</strong>
                @item.IpAddress
                @item.Logger
                @item.ShortUrl
            </p>
            <p>
                @item.Message
            </p>

        </li>
    }
</ul>

<cs-pager cs-paging-pagesize="@Model.LogPage.PageSize"
          cs-paging-pagenumber="@Model.LogPage.PageNumber"
          cs-paging-totalitems="@Model.LogPage.TotalItems"
          asp-action="Index" asp-controller="SystemLog"
          asp-route-logLevel="@Model.LogLevel"
          asp-route-pagesize="@Model.LogPage.PageSize"
          cs-pager-ul-class="pagination d-flex flex-wrap"
          cs-pager-li-current-class="page-item active"
          cs-pager-li-other-class="page-item"
          cs-pager-li-non-active-class="page-item disabled"
          cs-pager-link-current-class="page-link"
          cs-pager-link-other-class="page-link"></cs-pager>

<form role="form" asp-controller="SystemLog" asp-action="LogDeleteAll">
    <a asp-action="Index" class="btn btn-sm btn-primary">@sr["Refresh"]</a>
    <input type="hidden" asp-for="@Model.LogLevel" />
    <input type="submit" value='@sr["Clear Log"]' class="btn btn-sm btn-danger " />
</form>

<form role="form" class="mt-2" asp-controller="SystemLog" asp-action="LogDeleteOlderThan">
    <div class="row align-items-left gx-2">
        <div class="col-2 w-auto align-self-center">
            <input type="hidden" asp-for="@Model.LogLevel" />
            <input type="submit" value='@sr["Delete Older Than"]' class="btn btn-sm btn-danger " />
        </div>
        <div class="col-2 w-auto align-self-center">
            <select class="form-control" name="days" id="days">
                <option>1</option>
                <option>5</option>
                <option>10</option>
                <option>30</option>
                <option>60</option>
            </select>
        </div>
        <div class="col-3 w-auto align-self-center">
            @sr["Days"]
        </div>
    </div>
</form>
